[*.cs]
dotnet_diagnostic.MA0051.severity = none
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0016.severity = none
dotnet_diagnostic.MA0002.severity = none
dotnet_diagnostic.MA0005.severity = none
dotnet_diagnostic.MA0006.severity = none
dotnet_diagnostic.MA0011.severity = none
dotnet_diagnostic.MA0074.severity = none